# Sphinx output
doc/_build/*

# Cython
build/*
src/cython/vapoursynth.c
src/cython/vapoursynth.h
src/cython/vapoursynth_api.h
dist/
.eggs
*.egg-info/

# Python
*.pyc
__pycache__

# C
*.o
*.la
*.lo
*.so
*.dll
.libs
.deps/
.dirstamp

# GNU build
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing

# pkg-config
*.pc

# Artifact
vspipe

# Imported projects
zimg/
AviSynthPlus