build/*
doc/_build/*

*.pyc
__pycache__

src/cython/vapoursynth.c
src/cython/vapoursynth.h
src/cython/vapoursynth_api.h

*.o
*.la
*.lo
*.so
*.dll
.libs
.deps/
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
vspipe
*.pc

dist/
.eggs
*.egg-info/

zimg/
AviSynthPlus