[submodule "AviSynthPlus"]
	path = AviSynthPlus
	url = https://github.com/AviSynth/AviSynthPlus.git
[submodule "libp2p"]
	path = libp2p
	url = https://github.com/sekrit-twc/libp2p.git
[submodule "vsrepo"]
	path = vsrepo
	url = https://github.com/vapoursynth/vsrepo.git
[submodule "zimg"]
	path = zimg
	url = https://github.com/sekrit-twc/zimg.git
