name: Linux

on: [push, pull_request, workflow_dispatch]

jobs:
  build-gcc:
    runs-on: ubuntu-latest

    env:
      CC: gcc-14
      CXX: g++-14

    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Install Python packages
      run: |
        python -m pip install -U pip
        pip install -U build

    - name: Install zimg
      run: |
        git clone https://github.com/sekrit-twc/zimg.git --depth 1 --recurse-submodules --shallow-submodules
        pushd zimg
        ./autogen.sh
        ./configure
        make -j$(nproc)
        sudo make install -j$(nproc)
        popd
        rm -rf zimg

    - name: Install
      run: |
        pip install .

    - name: Run test
      run: |
        vsscript-config
        vspipe --version
        python -m unittest discover -s test -p "*test.py"
